/*#selection-section, #button-section, #base_currency_select, #label {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /*border-style:dashed;*/
    /*border-radius: 25px;
    border: 1px solid #73AD21;
    padding: 10px;
    height:30px;
    
}*/
#selection-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-row {
    display: flex;
    flex-direction: column;

}
select {
    height : 30px;
}
.form-btn-row, #button-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
